<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
		<style type="text/css">
			 body{ font: 14px sans-serif; }
			.wrapper{ text-align: center }
		</style>
		{% block head %}{% endblock %}
	</head>
	<body>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
	<div style="text-align: center; background-color: #C0C0C0; cursor: pointer" onclick="window.location='/';">
	<span style="font-size: 80px ;font-family: 'Montserrat'; color: #000000">BERKCANBET 42</span>
	</div>
		{% block body %}{% endblock %}
	</body>
</html>